@model DecorAndHandicraftMerchant.Models.Order

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Checkout</h1>

<h4>Order</h4>
<hr />
<div class="row center_view">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="ProfileId" value="@ViewBag.Profile.ProfileId" />
            <label for="FirstName" class="control-label">First Name: @ViewBag.Profile.FirstName</label><br />
            <label for="Last Name" class="control-label">Last Name: @ViewBag.Profile.LastName</label><br />
            <label for="PhoneNumber" class="control-label">Phone Number: @ViewBag.Profile.PhoneNumber</label><br />
            <label for="Address Line 1" class="control-label">Addresss Line 1: @ViewBag.Profile.AddressLine1</label><br />
            @if (ViewBag.Profile.AddressLine2 != null)
            {
                <label for="Address Line 2" class="control-label">Address Line 2: @ViewBag.Profile.AddressLine2</label><br />
            }
            <label for="City" class="control-label">City: @ViewBag.Profile.City</label><br />
            <label for="Province" class="control-label">Province @ViewBag.Profile.Province</label><br />
            <label for="Country" class="control-label">Country: @ViewBag.Profile.Country</label><br />
            <label for="PostalCode" class="control-label">PostalCode: @ViewBag.Profile.PostalCode</label><br />
            <label for="Total" class="control-label">Order Total: @ViewBag.Total</label><br />
            <div>
                <input type="submit" value="Go To Payment" class="btn btn-primary" />
            </div>
            <div class="bottom_right">
                <a asp-action="Edit" asp-route-username="@User.Identity.Name">Edit Profile</a>
                <br />
                <a href="javascript:history.go(-1);"><img src="~/images/app_icons/back.png" alt="Back" title="Back" class="back" /></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
