@model DecorAndHandicraftMerchant.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="~/images/products_added/@Model.Photo" alt="Product" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.Name)
        </dd>
    </dl>
</div>

@*for demonstration purpose only*@
<form method="post" action="../AddToCart">
    <div class="form-group">
        <input hidden id="ProductId" value="@Model.ProductId" name="ProductId" />
        <label for="quantity" class="control-label">Quantity: </label>
        <input required type="number" min="1" max="999" class="quantity" name="Quantity"/>
        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </div>
</form>

<div>
    @if (User.IsInRole("Administrator"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
        </div>
    }
<a href="javascript:history.go(-1);" class="bottom_right">Back to Products</a>
</div>
