@model DecorAndHandicraftMerchant.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="center_view">
        <div>
            @if (Model.Photo != null)
            {
                <img src="~/images/products_added/@Model.Photo" alt="Product" asp-append-version="true" width="250px" height="250px" />

            }
            else
            {
                <img src="~/images/n_a.jpg" alt="Product" class="detail_image" />
            }
        </div>
        <div class="text-center">
            @Html.DisplayFor(model => model.Name)<br />
            @if (Model.Description != null)
            {
                @Html.DisplayFor(model => model.Description)<br />
            }
            @Html.DisplayFor(model => model.Price) <br />
            @Html.DisplayFor(model => model.SubCategory.Name)
        </div>
        <form method="post" action="../AddToCart">
            <div class="form-group">
                <input hidden id="ProductId" value="@Model.ProductId" name="ProductId" />
                <label for="quantity" class="control-label">Quantity: </label>
                <input required type="number" min="1" max="999" class="quantity" name="Quantity" /><br />
                <input type="submit" value="Add to Cart" class="btn btn-primary" />
            </div>
        </form>

        <div>
            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a>
            }
        </div>

    </div>
</div>
<div class="bottom_right">
    <a href="javascript:history.go(-1);"><img src="~/images/app_icons/back.png" alt="Back" title="Back" class="back" /></a>
</div>
